@model List<mercedes.Models.Entities.Category>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model)
{
    <p> @item.CategoryName </p> <p> @item.Description</p> 
}
